.labelDivisa {
    padding-top: 10px;
    font-size: 20px;
    font-weight: 500;
}

.labelForm {
    font-size: 20px;
    font-weight: 500;
}

.texto-abajo {
    font-size: 15px;
    font-weight: 500;
}